/* styles.css */
.range {
                                                                                                    font-size: 24px;
                                                                                                    text-align: center;
                                                                                                    margin-top: 50px;
                                                                                                }
                                                                                                
                                                                                                #range {
                                                                                                    background-image: url('battery.jpg');
                                                                                                    font-size: 36px;
                                                                                                    font-weight: bold;
                                                                                                    color: #224f37; /* Blue color for range */
                                                                                                }
                                                                                                